Datasets/Originales/Coursera_courses.csv
Datasets/Originales/Coursera_reviews.csv
Datasets/Originales/udemy_courses.csv
Datasets/Originales/edx_courses.csv
Datasets/Preprocesados/coursera_courses.csv
Datasets/Preprocesados/edx_courses.csv
Datasets/Preprocesados/udemy_courses.csv
Henry-PI-DA.code-workspace
Datasets/Originales/courses.csv
Datasets/Originales/instructors.csv
Datasets/Originales/udemy_courses_1.csv
Datasets/Preprocesados/udemy_courses_1.csv
imagenes/coursera.jpg
imagenes/edx.jpg
imagenes/henry.jpg
imagenes/github.jpg
imagenes/linkedin.jpg
imagenes/mooc.jpg
imagenes/udemy.jpg
